table, td, th {
    border: 3px solid black;
    border-collapse: collapse;
}
table {
    width: 70%;
    height: 300px;
    background-color: deepskyblue;
    margin: auto;
}
td {
    padding-left: 50px;
}
.one {
    background-color: blue;
}
.two {
    background-color: deeppink;
}